<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        Subscription's Package Price Calculator&nbsp;&nbsp;
      </div>
      <div class="card-block">
        <table class="table">
          <tbody>
            <tr>
              <td>Price:</td>
              <td><span id="price"></span></td>
            </tr>
            <tr>
              <td>GST:</td>
              <td><span id="gst"></span></td>
            </tr>
            <tr>
              <td>Total:</td>
              <td><span id="total"></span></td>
            </tr>
            <tr>
              <td>Total (after rounding):</td>
              <td><span id="totalRounding"></span></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div id="suggestion" class="col-md-12" style="display:none;">
    <div class="card">
      <div class="card-header">
        Suggestion&nbsp;&nbsp;
      </div>
      <div class="card-block">
        <ul class="horizontal-slide">
          <li class="col-md-2"><img class="thumbnail" src="../../../assets/img/SuperPack.JPG" /></li>
        </ul>
      </div>
    </div>
  </div>

</div>