<div class="row" style="display:none;">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        Subscription's Package Price Calculator&nbsp;&nbsp;
      </div>
      <div class="card-block">
        <table class="table">
          <tbody>
            <tr>
              <td>Price:</td>
              <td><span id="price"></span></td>
            </tr>
            <tr>
              <td>GST:</td>
              <td><span id="gst"></span></td>
            </tr>
            <tr>
              <td>Total:</td>
              <td><span id="total"></span></td>
            </tr>
            <tr>
              <td>Total (after rounding):</td>
              <td><span id="totalRounding"></span></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!--<div id="suggestion" class="col-md-12" [ngStyle]="{ 'display': this.sharedService.priceData.showSuggestion ? 'block' : 'none'}">
    <div class="card">
      <div class="card-header">
        Suggestion&nbsp;&nbsp;
      </div>
      <div class="card-block">
        <ul class="horizontal-slide">
          <li class="col-md-2"><img class="thumbnail" src="assets/img/SuperPack.JPG" /></li>
        </ul>
      </div>
    </div>
  </div>-->

  <!-- Modal -->
  <!--<div id="suggestion" (click)="onContainerClicked($event)" class="modal fade" tabindex="-1" [ngStyle]="{ 'display': this.sharedService.priceData.showSuggestion ? 'block' : 'none', 'opacity': this.sharedService.priceData.showSuggestion ? 1 : 0}">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5>Suggestion</h5>
        </div>
        <div class="modal-body">

          <ul class="horizontal-slide">
            <li class="col-md-2"><img class="thumbnail" src="assets/img/SuperPack.JPG" /></li>
          </ul>

          <div class="modal-footer">
            <button (click)="onContainerClicked($event)" class="btn btn-primary">Continue</button>
          </div>
        </div>
      </div>
    </div>
  </div>-->

</div>