<header class="app-header navbar">
  <!--<a class="navbar-brand" href="#"></a>-->
  <ul class="nav navbar-nav d-md-down-none">
    <li class="nav-item px-3">
      <a class="nav-link" href="#">Dashboard</a>
    </li>
  </ul>
  <!--<ul class="nav navbar-nav ml-auto">
  </ul>-->
</header>

<div class="app-body">
  <!-- Main content -->
  <main class="main">

    <!-- Breadcrumb -->
    <ol class="breadcrumb">
      <app-breadcrumbs></app-breadcrumbs>
      <!-- Breadcrumb Menu-->
      <li class="breadcrumb-menu d-md-down-none">
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
          <a class="btn btn-secondary" href="#"><i class="icon-speech"></i></a>
        </div>
      </li>
    </ol>

    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
    <!-- /.conainer-fluid -->
  </main>  
</div>

<footer class="app-footer">
  <!--<a href="http://coreui.io">CoreUI</a> &copy; 2017 creativeLabs.
  <span class="float-right">Powered by <a href="http://coreui.io">CoreUI</a></span>-->
</footer>