<div id="mainpack" class="card" *ngFor="let mainpack of mainpacks">
  <div class="card-header">
    {{mainpack.name}}&nbsp;&nbsp;
  </div>
  <div class="">
    <div *ngFor="let pack of mainpack.pack">

      <div>
        <input id="{{pack.id}}" class="checkbox-custom" name="{{pack.id}}" type="checkbox" (change)="reChecked($event)" [checked]="pack.always"
          [disabled]="pack.always">
        <label for="{{pack.id}}" class="checkbox-custom-label">{{pack.name}}</label>
        <label for="{{pack.id}}" class="checkbox-custom-label astro-font float-right" *ngIf='pack.price != 0'>RM {{pack.price}} / month</label>
      </div>

    </div>
  </div>
</div>

<!-- Modal -->
<div (click)="onContainerClicked($event)" class="modal fade" tabindex="-1" [ngClass]="{'in': visibleAnimate}" [ngStyle]="{'display': visible ? 'block' : 'none', 'opacity': visibleAnimate ? 1 : 0}">
  <div class="modal-dialog" style="margin-top:0;">
    <div class="modal-content">
      <div class="modal-header">
        <h5>Choose Mini Packs</h5>
      </div>
      <div class="modal-body">

        <ng-container *ngFor="let mainpack of mainpacks">
          <div *ngIf="mainpack.id == 'mp'">
            <span id="modalHeader"></span>
            <div *ngFor="let pack of mainpack.pack">
              <div>
                <input id="{{modalDivPrefix}}{{pack.id}}" class="checkbox-custom" name="{{pack.id}}" type="checkbox" (change)="reCheckedModal($event)">
                <label for="{{modalDivPrefix}}{{pack.id}}" class="checkbox-custom-label">{{pack.name}}</label>
              </div>
            </div>
          </div>
        </ng-container>

        <div class="modal-footer">
          <button (click)="hide()" class="btn btn-primary">Continue</button>
        </div>
      </div>
    </div>
  </div>
</div>