.navbar-brand {
    position: absolute !important;
    width: 100px !important;
    // left:0% !important;
  }

  .shopping-cart{
      .words{
          margin-right:1em; font-size: 1.00rem; color: #ec008c
      }
  }