<div class="animated fadeIn" style="padding-top:1em;">
  <div class="row">

    <div class="visible-sm" style="display:none;">
      <div class="toogleDiv">
        <button id="toogleBtn" class="btn btn-primary" (click)="toogleSlide();" style="margin-bottom:1em; background-color:#ec008c; margin-left:-1em;">
          <span id="toogleBtnHighlight" style="font-weight:bold;">View</span> 
          <span id="toogleBtnText">List of Channel</span>
        </button>
        <!--<p class="box good">I move nicely!</p>-->
      </div>

    </div>

    <div id="mainpackSelector" app-mainpack class="col-sm-12 col-md-6 box rtl"></div>
    <div id="previewSelector" app-preview class="col-sm-12 col-md-6 box ltr"></div>
    <div app-selection class="" style="display:none;"></div>
  </div>

  <body id="popupSuggestion" class="" [ngStyle]="{ 'display': sharedService.priceData.showSuggestion ? 'block' : 'none', 'opacity': sharedService.priceData.showSuggestion ? 1 : 0}">
    <div class="window col-xs-10 col-md-8" style="">
      <nav class="window-controls">
        <button class="maximize" (click)="maximize()">Suggestion</button>
        <!--<div class="close"></div>-->
        <button class="minimize" (click)="minimize()"></button>
      </nav>

      <aside class="window-sidebar">
        <div class="content-block"></div>
        <div class="content-block"></div>
        <div class="content-block"></div>
        <div class="content-block"></div>
      </aside>

      <section class="window-content"></section>
    </div>

    <!--<div class="bg"></div>-->
  </body>
</div>