<!--<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        Channels:&nbsp;&nbsp;
      </div>
      <div id="channelList" class="card-block">        
      </div>
    </div>
  </div>
</div>-->

<div class="row" style="line-height:1.0">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        Channels:&nbsp;&nbsp;
      </div>
      <div id="{{previewDivPrefix}}" class="card-block row">

        <div id="{{previewDivPrefix}}as.0" class="card">
          <div class="card-header">
            Family Pack&nbsp;&nbsp;
          </div>
          <div class="card-block">
            <span>101 TV1</span><br>
            <span>102 TV2</span><br>
            <span>107 NTV 7</span><br>
          </div>
        </div>

        <div id="{{previewDivPrefix}}pp.0" class="card">
          <div class="card-header">
            Sport&nbsp;&nbsp;
          </div>
          <div class="card-block">
            <span>104 Astro Ria</span><br>
            <span>105 Astro Prima</span><br>
            <span>106 Astro Oasis</span><br>
            <span>107 NTV 7</span><br>
          </div>
        </div>

        <div id="{{previewDivPrefix}}pp.1" class="card">
          <div class="card-header">
            Dynasty&nbsp;&nbsp;
          </div>
          <div class="card-block">
            <span>106 Astro Oasis</span><br>
            <span>107 NTV 7</span><br>
          </div>
        </div>

        <div id="{{previewDivPrefix}}pp.2" class="card">
          <div class="card-header">
            Movies&nbsp;&nbsp;
          </div>
          <div class="card-block">
            <span>104 Astro Ria</span><br>
            <span>105 Astro Prima</span><br>
          </div>
        </div>

        <div id="{{previewDivPrefix}}mp.0" class="card">
          <div class="card-header">
            News&nbsp;&nbsp;
          </div>
          <div class="card-block">
            <span>104 Astro Ria</span><br>
            <span>105 Astro Prima</span><br>
          </div>
        </div>

        <div id="{{previewDivPrefix}}mp.1" class="card">
          <div class="card-header">
            Kids&nbsp;&nbsp;
          </div>
          <div class="card-block">
            <span>104 Astro Ria</span><br>
            <span>105 Astro Prima</span><br>
          </div>
        </div>

        <div id="{{previewDivPrefix}}mp.2" class="card">
          <div class="card-header">
            Learning&nbsp;&nbsp;
          </div>
          <div class="card-block">
            <span>104 Astro Ria</span><br>
            <span>105 Astro Prima</span><br>
          </div>
        </div>

        <div id="{{previewDivPrefix}}mp.3" class="card">
          <div class="card-header">
            Variety&nbsp;&nbsp;
          </div>
          <div class="card-block">
            <span>104 Astro Ria</span><br>
            <span>105 Astro Prima</span><br>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>